{% extends "layout.html" %}

{% block title %}
    Holdings
{% endblock %}

{% block main %}
<div class="table-responsive">
    <table class="table table-striped ">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: Loop through the database entries to display them in this table -->
            {% for stock in table %}

            <tr>
                <td class="text-start">{{ stock['symbol'] }}</td>
                <td class="text-end">{{ stock['shares'] }}</td>
                <td class="text-end">{{ stock['price'] }}</td>
                <td class="text-end">{{ stock['time'] }}</td>  <!-- try to get the current price and current total of the stock and combine tickers that are the same on one thing -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}