{% extends "layout.html" %}

{% block title %}
    Holdings
{% endblock %}

{% block main %}
<div class="table-responsive">
    <table class="table table-striped ">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Total</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: Loop through the database entries to display them in this table -->
            {% for stock in entries %}

            <tr>
                <td class="text-start">{{ stock['symbol'] }}</td>
                <td class="text-start">{{ stock['name'] }}</td>
                <td class="text-end">{{ stock['totalshares'] }}</td>
                <td class="text-end">{{ stock['currentprice'] }}</td>  <!-- try to get the current price and current total of the stock and combine tickers that are the same on one thing -->
                <td class="text-end">{{ stock['realtotal'] | usd }}</td>  <!-- maybe make a separate db to show who holds what and how many shares they hold -->
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">CASH:</td>
                <td class="border-0 text-end" colspan="4">{{ money }}</td>
            </tr>

            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL:</td>
                <td class="border-0 text-end" colspan="4">{{ total }}</td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}
